.steel-video-container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: end;
}
.steel-video .bg-video{
    width: 100%;
}
.steel-images {
	display: grid;
	padding: 20px 26px;
	gap: 20px;
    max-width: 90vw;
    margin: 0 auto;
}
img{
    display: block;
    width: 100%;
}
.steel-images img{
    border-radius: 10px;
}
@media (max-width:767px){
    .steel-images{
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .steel-images img {
        max-height: 150px;
        width: auto;
        max-width: 100%;
        margin: auto;
    }
    .steel-video-container {
        grid-template-columns: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}